.navbar{
    width: 100%;
    padding:15px;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
    z-index: 10;
    position: fixed;
    top:0;
    left:0;
    right:0;
}
.nav-elements{
    background-color: rgba(230, 242, 154, 0.4);
    border-radius: 30px;
    padding:0.6%;
    min-width:40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width:13%;
    margin: 5px 40px;
    padding:7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo i{
    font-size: 24px;
    color: yellow;
}
.nav-elements ul{
    margin-left: 30px;
}
.nav-elements ul li{
    display: inline-block;
    margin: 5px 20px;
    list-style: none;
    font-size: 20px;
}