.navbar{
    width: 100%;
    padding:15px;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
}
.nav-elements{
    min-width:35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width:15%;
    margin: 5px 40px;
    padding:7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo i{
    font-size: 24px;
}
.nav-elements ul{
    margin-left: 30px;
}
.nav-elements ul li{
    display: inline-block;
    margin: 5px 20px;
    list-style: none;
    font-size: 17px;
}